<h1 class="welcome">Welcome to QuotingDojo</h1>

<form action="quotes" method="POST">
    <label for="name">Your name:</label>
    <input type="text" id="name" name="name"><br>

    <label for="context">Your quote:</label>
    <textarea id="context" name="context"></textarea><br>

    <button type="submit" id="submit">Add my quote!</button>
    <a href="/quotes" id="toQuotesBtn">Skip to quotes!</a>
</form>
