<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
    <title>Portfolio Home</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Ashley Hohoho's Portfolio</h1>
            <div class="nav">
                <a href="/">Home</a> |
                <a href="/project">Projects</a> |
                <a href="/contact">Contact</a>
            </div>
        </div>
        <img src="~/img/ashley_jump.jpg" id="me">
        <div about="about">
            <p>Here's some stuff about Ashley!!! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie feugiat imperdiet. Donec euismod at elit id maximus. Vestibulum fermentum ipsum ut nibh gravida, vulputate vehicula risus pulvinar.</p>
        </div>
    </div>
</body>
</html>