@model WeddingPlanner.Models.RegisterViewModel;

<div class="registrationContainer">
    <form asp-controller="Users" asp-action="Register" method="POST">
        <h2>Register</h2>

        <label asp-for="FirstName"></label>
        <input asp-for="FirstName">
        <span asp-validation-for="FirstName"></span><br>

        <label asp-for="LastName"></label>
        <input asp-for="LastName">
        <span asp-validation-for="LastName"></span><br>

        <label asp-for="Email"></label>
        <input asp-for="Email">
        <span asp-validation-for="Email"></span><br>

        <label asp-for="Password"></label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span><br>

        <label asp-for="PasswordConfirmation"></label>
        <input asp-for="PasswordConfirmation">
        <span asp-validation-for="PasswordConfirmation"></span><br>
        
        <button type="submit">Submit</button>
    </form>
    <a href="/login">Already Registered?</a>
</div>