<h1>Ajax Notes</h1>

<div class="wrapper">
    @if (ViewBag.allNotes != null)
    {
        @foreach (var note in ViewBag.allNotes)
        {
            <div class="noteCard">
                <input type="hidden" name="hiddenId" value='@note["id"]' >
                <div class="noteMain">
                    <p class="title editable" contenteditable="true">@note["title"]</p>
                    <p class="description editable" contenteditable="true">@note["description"]</p>
                </div>
                <a href="" class="delete">delete</a>
            </div>
        }
    }

    <hr>

    <form action="notes" method="POST">
        <input type="text" id="title" name="title" placeholder="Insert note title here..."><br>

        <textarea id="description" name="description" placeholder="Enter description here..."></textarea><br>

        <button type="submit" id="addNote">Add Note</button>
    </form>
</div>