@model gettingStartedWithEntity.Models.Review;

<div class="wrapper">
    <h1>Write a new Review:</h1>
    <form asp-controller="Reviews" asp-action="AddReview" method="POST">
        <label asp-for="ReviewerName">Reviewer Name: </label>
        <input asp-for="ReviewerName"><br>

        <label asp-for="RestaurantName">Restaurant Name: </label>
        <input asp-for="RestaurantName"><br>

        <label asp-for="ReviewDesc">Review: </label>
        <textarea asp-for="ReviewDesc"></textarea><br>

        <label asp-for="VisitDate">Date of Visit: </label>
        <input asp-for="VisitDate"><br>

        <label asp-for="Stars">Stars: </label>
        <select asp-for="Stars">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>

        <button type="submit">Submit</button>
    </form>
</div>