<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
    <title>Projects</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Ashley Hohoho's Portfolio</h1>
            <div class="nav">
                <a href="/">Home</a> |
                <a href="/project">Projects</a> |
                <a href="/contact">Contact</a>
            </div>
        </div>
        <h2>Samsara | Python</h2>
        <img src="~/img/Samsara.png" id="samsara">
        <p>Python game Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis tellus pulvinar elementum pharetra. Quisque sed neque ornare, maximus purus hendrerit, egestas turpis. Vestibulum et lorem iaculis, consequat dolor vel, consequat velit. </p>
        <hr>
        <h2>Tetris Madness | MEAN</h2>
        <img src="~/img/TetrisMadness.png" id="tetris">
        <p>Multiplayer Tetris.Build up lines with your tetris blocks, and sabotage your enemies! Built with Angular. Loren ipsum dolor sit amet, consectetur...</p>
        <hr>
        <h2>Time Display | C#</h2>
        <img src="~/img/TimeDisplay.png" id="time_display">
        <p>Tells the time.</p>
    </div>
</body>
</html>