@model DojoLeague.Models.Ninja

<h1>Name: @Model.NinjaName</h1>
<h3>Ninja Level: @Model.Level</h3>
<h3>Description: @Model.Description</h3>
<h3>Current Dojo: <a href="/Dojo/@Model.Dojo.DojoId">@Model.Dojo.DojoName</a></h3>